<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>rango-feed</id>
      <username>uni-dev</username>
      <password>xuzb4oq4cmpdage66b7twqcguol2ddqnzgk3knjs4kmzxadzjwiq</password>
    </server>
  </servers>
</settings>
